/* PRODUCTS Y CATERGORIAS DE HOME */
.products,
.categories > * > * {
  padding: 120px;
}

.products {
  padding-top: 0;
}

.products h2 {
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
}
.products .products-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.products .products-grid > div {
}
.products .products-grid img {
  width: 100%;
}

.categories a {width: max-content;}
.categories button:hover {
  background-color: #282828;
  border: 2px solid #282828;
  color: #F7F7F9;
}
.categories .categories-grid {
  display: grid;
  gap: 120px;
}
.categories .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 50vh;
  padding: 120px;
  gap: 120px;
}
.categories .card .content {
  display: grid;
  gap: 30px;
}
.categories .card:nth-child(even) {
  background-color: #f7f5f6;
}
.categories .card:nth-child(even) .content {
  order: 1;
}
